@import './variables.scss';

.acryllic {
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.commonFont {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.littleFont {
    @extend .commonFont;
    font-size: 12px;
    font-weight: 100;
}

.dataBox {
    background-color: $white011;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.addMask {
    mask-image: $mask;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: $mask;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-position-x: center;
    -webkit-mask-position-y: center;
}