@import "../../styles/common.scss";

.home {
  .topContainer {
    background-image: linear-gradient(to bottom right, #6504ff, #cc01ff);
    height: 100px;
  }

  .glassContainer {
    padding: 15px;

    .glass {
      -webkit-backdrop-filter: blur(var(--glass-blur,40px));
      backdrop-filter: blur(var(--glass-blur,40px));
      background-color: transparent;
      margin-top: -100px;
      border-radius: 25px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
      padding-bottom: 15px;

      .content {
        padding: 0 50px;

        .profile {
          @extend .dataBox;
          padding: 20px;
          width: 288px;
          display: grid;
          justify-items: center;
          

          .profilePic {
            @extend .addMask;
            margin: 15px;
            width: 150px;
          }

          .profileDetails {
            padding: 0 0 15px;

            .name {
              @extend .commonFont;
              font-weight: bold;
              text-align: center;
            }

            .positions {
              margin-top: 10px;

              .position {
                @extend .littleFont;
                text-align: center;
                line-height: 18px;
                color: $go-gray;
              }
            }

            .about {
              @extend .littleFont;
              background-color: rgba(172, 32, 243, .1);
              color: #7f00c0;
              text-align: justify;
              border-radius: 20px;
              padding: 20px 25px;
              margin-top: 10px;
              line-height: 18px;
            }

            .tags {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              margin-top: 10px;

              .tag {
                @extend .littleFont;
                padding: 5px 10px;
                background-color: $so-gray;
                border-radius: 10px;
                margin-left: 5px;
                margin-top: 5px;

                &:first-child {
                  margin-left: 0;
                }
              }
            }

          }
        }

        .socialMedia {
          display: flex;
          justify-content: space-between;
          width: 316px;
          margin-top: 15px;

          .socialLink {
            @extend .addMask;
            display: flex;
            background-color: $white011;
            padding: 4px;
            margin-top: 10px;

            .socialImage {
              width: 40px;
            }
          }
        }

        .skills {
          @extend .dataBox;
          padding: 20px;
          width: 288px;
          margin-top: 25px;

          .title {
            @extend .commonFont;
            font-weight: bold;
            margin-bottom: 20px;
          }

          .skillsContainer {
            display: grid;
            gap: .75em;

            .skill {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .skillName {
                @extend .littleFont;
              }

              .skillLevel {
                background-color: $grey011;
                height: 8px;
                border-radius: 4px;
                width: 150px;

                .level {
                  background-color: $creamGreen;
                  height: 8px;
                  border-radius: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
  .home {
    .glassContainer {
  
      .glass {
  
        .content {
          padding: 0 15px;

          .profile {
            width: auto;
          }

          .socialMedia {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            justify-content: space-between;
          }

          .skills {
            width: auto;

            .skillsContainer {
              .skill {
                .skillLevel {
                  width: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px){
  .home {
    .glassContainer {
  
      .glass {
  
        .content {

          .skills {
            width: auto;

            .skillsContainer {
              .skill {
                .skillLevel {
                  width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }
}
