@import "../../styles/common.scss";

.navBar {
  background-color: transparent;
  width: 100%;

  .container {
    padding: 25px;

    .title {
      width: 30px;
      padding: 10px 0;
      text-decoration: none;
      color: $white011;
      font-family: Arial, sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
  }
}