@import "../../styles/variables.scss";

.copyrightFooter {
  background: $violet011;
  color: white;
  text-align: center;
  font-family: $commonFontFamily;
  font-size: 12px;
  padding: 10px;
}

@media screen and (min-width: 1000px) {
  .footerContent {
    display: flex;
    justify-content: center;
  
    .footerWrapper {
      width: 40%;

      .footerText {
        border: none;
      }
    }
    
    .followUsWrapper {
      width: 40%;
    }
  }
}