@import "../../styles/variables.scss";

.aboutMe {
  padding: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  
  .myImage {
    height: 300px;
    width: 300px;
  }

  .content {
    padding: 50px;

    .title {
      font-family: $commonFontFamily;
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .domain {
      font-family: $commonFontFamily;
      font-size: 12px;
      margin-bottom: 30px;
    }

    .descriptionOne {
      text-align: justify;
      font-family: $commonFontFamily;
      font-size: 18px;
    }

    .descriptionTwo {
      @extend .descriptionOne;
      margin: 15px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }

    .descriptionThree {
      @extend .descriptionOne;
    }

    
  
    .followUsWrapper {
      background: $crimpson-red;
      border-radius: 30px;
      height: 110px;
      margin-top: 30px;

      .followUsTitle {
        text-align: center;
        font-family: $commonFontFamily;
        font-weight: bold;
        font-size: 15px;
        padding: 10px;
        color: white;
        text-transform: uppercase;
      }
    
      .followUsLinks {
        display: flex;
        justify-content: center;

        .socialMediaIcon {
          width: 30px;
          height: 30px;
          filter: invert(100%);
          margin: 10px;
        }

        .socialMediaIcon:hover {
          filter: invert(0);
          background: white;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .aboutMe {
    flex-direction: column;

    .myImage {
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }

    .content {
      padding: 0;
      padding-top: 30px;
      
      .title {
        font-size: 30px;
        text-align: center;
      }

      .domain {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1000px){
  .aboutMe {
    width: 900px;
    margin: 0 auto;
  }
}