@import '../../../styles/common.scss';

.videoCard {
    display: flex;
    flex-grow: 1;
    background-color: $white011;
    margin: 10px;
    border-radius: 15px;

    .videoContainer {
        flex-grow: 1;
        width: 180px;

        .videoThumb {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        .videoTitle {
            @extend .littleFont;
            padding: 10px;
        }

    }
}